<nav class="navbar footer-navbar navbar-dark" style="background-color: rgba(80, 80, 80, 0.5);">
  <div class="container-fluid d-flex justify-content-between">
    <!-- Social media links aligned to the left -->
    <div>
      <a href="https://github.com/Mustafa-Imam/Eid-Giftlist.git" class="text-white me-3 text-decoration-none" target="_blank">
        <i class="fa-brands fa-github"></i> GitHub
      </a>
    </div>

    <!-- Copyright text aligned to the right -->
    <span class="navbar-text text-white">© 2023 All Rights Reserved.</span>
  </div>
</nav>


