<%- include('partials/header', { title: title }) %>

<div class="sticky-footer-wrapper">
    <div class="sticky-footer-content">
        <div class="container text-center">
            <% if (error.status === 404) { %>
                <h1>404 Not Found</h1>
                <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
            <% } else { %>
                <h1>Error</h1>
                <h2><%= message %></h2>
                <pre><%= error.stack %></pre>
            <% } %>
            <a href="/" class="btn btn-dark text-white">Go to Home Page</a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>

