<%- include('../partials/header.ejs') %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 class="text-center"><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="itemTextField">Item</label>
                    <input type="text" class="form-control"
                    id="itemTextField"
                    placeholder="Enter the gift that you want"
                    name="Item" required>
                </div>

                <div class="form-group">
                    <label for="amountTextField">Amount</label>
                    <input type="text" class="form-control"
                    id="amountTextField"
                    placeholder="Enter the amount of gifts that you want"
                    name="Amount" required>
                </div>

                <div class="form-group">
                    <label for="priceTextField">Price</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Enter the price of the gift"
                    name="Price" required>
                </div>


                <div class="form-group text-center mt-3"> <!-- Centered and with margin -->
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-edit"></i> Submit</button>
                
                        <a href="/eidgiftlist" class="btn btn-warning">
                            <i class="fas fa-times"></i> Cancel</a>
                </div>

            </form>
        </div>

    </div>
</div>

<%- include('../partials/footer.ejs') %>