<%- include('../partials/header') %>

<main class="container">
    <% if (message && message.length > 0) { %>
    <div class="alert alert-danger">
        <%= message %>
    </div>
    <% } %>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Please login</h1>
            <form method="post" action="/login" autocomplete="off">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="/register" class="btn btn-link">Register Here</a>
                </div>
            </form>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>
